
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Martian+Mono:wght@800&family=Nunito+Sans:wght@300&family=Playfair+Display&family=Poppins:wght@200;400&family=Roboto+Serif:opsz,wght@8..144,300&family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    
}

.myNav{

    display: flex;
    /* border:1px solid red; */
    /* justify-content: center; */
    background-color: #132122;
    color:whitesmoke;
    height: 40px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    align-items: center;
}
.one{
    padding-left: 12px;
}
.two{
    padding-left: 20px;
}
.navigation{
    color: red;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  position: relative;
  top: -8px;
  left: 15px;
  right: 1px;
  
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.sagarNav{
display: flex;
justify-content: space-between;
align-items: center;
/* border: 1px solid red; */
height: 80px;
position: sticky;
top: 1px;
backdrop-filter: 45px;
background-color:#ffffff;
}

#sea{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    width: 200px;
}


.imageSet{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border: 1px solid red; */
  height: 20px;
  background-color: #132122;
  color: white;
}

.middle{
  text-align: center;
  padding: 30px;
  background-color: rgba(235, 160, 171, 0.503);
  /* border: 1px solid; */
}
.grid{
  display: grid;
  grid-template-columns: repeat(4,20%);
  /* margin: auto; */
  gap: 10px;
  justify-content: center;
  background-color: rgba(235, 160, 171, 0.503);
  /* border: 1px solid red; */
}
.grid div{
  margin: auto;
  /* border: 1px solid red; */
}
.more{
  display: block;
  margin: 50px;
  text-align: center;
  padding: 20px;
  /* background-color: white; */
  /* height: 30px; */
}
.more button{
  width:138px;
  height: 50px;
  background-color: white;
  /* padding: 17px 21px 17px 21px; */
}
.more button:hover{
 color: white;
 background-color: black;
}

.disc{
  display: grid;
  grid-template-columns: repeat(4,20%);
  /* grid-template-rows: 150px; */
  gap: 10px;
  /* width: 100%; */
  margin: auto;
  justify-content: center;
  /* border: 1px solid red; */
}
.disc div{
  margin:auto;
}
.disc img{
  width: 250px;
}
.btn{
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  /* line-height: 10px; */
}

.mybtn{
  display: grid;
  grid-template-columns: repeat(4,20%);
  gap: 10px;
  justify-content: center;
  margin: auto;
}
.mybtn a{
  display: block;
  margin-left: 30px;
 text-align: center;
 line-height: 25px;
 color:rgb(83, 81, 81);
 font-weight: 300px;
}
.details{
  margin-top: 60px;
}
.details a{
  display: block;
  text-align: center;
  margin: auto;
  text-decoration: none;
  color:rgb(83, 81, 81) ;
}
.subParent{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3,27%);
  justify-content: center;
  gap: 10px;
  border: 1px solid red;
}
.sign{
  margin-top: 30px;
  font-family: 'Tangerine', cursive;
  color:  #3F1120;
 text-align: center;
 font-size: 40px;
 font-weight: 100;
}
.category{
  text-align: center;
  margin-top: 30px;
}
.subParent div{
  border: 1px solid;
  text-align: center;
  padding: 20px;
  background-color: #3F1120;
  color: white;
}

.subParent div:hover{
  background-color: #260913;
  cursor: pointer;
}
