* {
  box-sizing: border-box;
}
.container {
  width: 60%;
  height: 650px;
  margin: auto;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo {
  /* border: 1px solid blue; */
  height: 20%;
  /* margin-bottom: 5%; */
}
.logo > img {
  width: 20%;
  height: 100%;
  margin-left: 40%;
}
.boxes {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-between;
}
.boxes > .box {
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
  padding-left: 5%;
}
.boxes > .box:nth-child(1) {
  border-right: 1px solid gray;
  margin-top: 10px;
}
.box > h4 {
  color: #8a7474;
  font-size: 12px;
}

.box > p {
  color: #743b3b;
  font-size: 16px;
}
#googlebtn {
  width: 90%;
  height: 13%;
  /* border: 1px solid red; */
  margin-bottom: 15px;
  background-color: #4285f4;
  display: flex;
  cursor: pointer;
  /* border-radius: 17px; */
}
#googlebtn > img {
  width: 15%;
  height: 100%;
  /* border-radius: 17px; */
}
#googlebtn > h3,
#facebookbtn > h3 {
  color: white;
  margin-left: 25px;
}
#facebookbtn {
  width: 90%;
  height: 13%;
  /* border: 1px solid red; */
  background-color: #4267b2;
  display: flex;
  cursor: pointer;
}
#facebookbtn > img {
  width: 15%;
  height: 100%;
}

form > input {
  display: block;
  width: 300px;
  height: 30px;
  margin: 10px 0px;
  padding: 10px;
}

form > button {
  width: 300px;
  height: 30px;
  background-color: #e8184c;
  color: white;
  border: none;
  border-radius: 8px;
}
